<div class="container">
  <div class="page-header text-center">
    <h1>Wikipedia Search
      <img *ngIf="loading" src="assets/images/loading.gif" />
    </h1>
  </div>

  <div class="row">
    <div class="input-group input-group-lg col-md-12">
      <app-search-box (loading)="loading = $event" (results)="updateResults($event)">
      </app-search-box>
    </div>
  </div>

  <div class="row">
    <app-search-result *ngFor="let result of results" [result]="result">
    </app-search-result>
  </div>

  <div class="row">
    <div class="modal-footer small" *ngIf="results">
      An FCC coding challenge built on <a href="https://angular.io" target="_blank"><img width="14" height="14" src="favicon.ico"></a> &copy;JDW 2017
    </div>
  </div>
</div>
